# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
myenv/
venv/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs and database
*.log
*.sqlite3

# Secret files
.env
